* {
	box-sizing: border-box;
	font-family: Verdana, Arial;
	padding: 0;
	margin: 0;
  /*border: 1px solid black;*/
}

body {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 200%;
  margin: 30px auto 20px auto;
  text-align: center;
}

.buttons {
  width: 60%;
  margin: 0 auto;
}

.main {
  position: relative;
}

.dataform {
  width: 50%;
  display: inline-block;
}

img {
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
}

form {
    position: relative;
    width: 100%;
    text-align: right;
    padding: 2%;
}

label, input {
  display: inline-block;
  font-size: 1em;
}

label {
  height: 2em;
  width: 30%;
  position: absolute;
  left: 0px;
  text-align: right;
  margin-right: 2%;
}

input {
  width: 40%;
  margin-bottom: 10%;
  height: 2em;
}

button {
  margin-left: 4%;
  width: 25%;
  height: 3em;
  font-size: 1em;
  padding: 10px auto 10px auto;
}

.buttons button {
  width: 45%;
}

@media screen and (max-width: 1180px) {
  body {
    width: 90%;
  }

  h1 {
    font-size: 150%;
  }
  button {
    /*margin-left: 8%;*/
    width: 20%;
    font-size: .8em;
    text-align: center;
  }
  img {
    width: 50%;
  }
  label {
    width: 35%;
  }
  input {
    width: 40%;
  }
}

@media screen and (max-width: 900px){
  body {
    width: 100%;
  }
  h1 {
    font-size: 120%;
  }
  img {
    position: relative;
    display: block;
    clear: both;
    width: 80%;
  }
  label {
    width: 25%;
  }
  .dataform {
    width: 100%;
  }
  .buttons {
    width: 100%;
  }
  .buttons button {
    width: 40%;
  }
}
