
* {
	box-sizing: border-box;
	font-family: Verdana, Arial;
	padding: 0;
	margin: 0;
}

.board {
  position: relative;
	width: 80vw;
	height: 80vw;
  margin: 20px auto;
  border: 1.5vw solid #fc2f00;
	border-radius: 1%;
  background-color: white;
}

h1, .moveCount {
	margin-top: 20px;
	font-size: 2em;
	text-align: center;
}

button {
	display: block;
	margin: 0 auto;
	padding: 20px;
	border:1vw solid #ec7d10;
	border-radius:2vw;
	font-size: 1.5em;
	color: black;
	background-color: #ffbc0a;
}

.cell {
  display: inline-block;
	position: absolute;
	width: 25%;
	height: 25%;
	border:1vw solid #ec7d10;
	border-radius:2vw;
	background: #ffbc0a;
	text-align:center;
	font-size: 8vw;
	line-height:25%;
	/*убрать возможность выделения текста*/
	-webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cell p {
	height: 100%;
	margin-top: 38%;
}

#cell0 {
	visibility: hidden;
}

@media screen and (min-width:640px) {
	.board {
		width: 60vw;
		max-width: 480px;
		height: 60vw;
		max-height: 480px
	}
	h1, .moveCount {
		font-size: 3em;
	}

	.cell {
		padding: 3%;
	}
}

@media screen and (min-width:992px) {
	.board {
		width: 65vh;
		height: 65vh;
		border: .8vw solid #fc2f00;
	}
	h1, .moveCount {
		font-size: 2.5em;
	}

	.cell {
		padding: 1%;
		border:.6vw solid #ec7d10;
		border-radius: 2vh;
		font-size: 7vh;
	}
}
}
