* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid green;*/
}

section {
    width: 20vw;
    min-width: 300px;
    max-width: 400px;
    background-color: rgba(223, 223, 223, .9);
    border: 2px solid rgba(28, 28, 200, .7);
    border-radius: 1em;
    margin: 0 auto;
    text-align: center;
    padding: 1em;
}

.city, .temp {
    font-size: 30px;
    padding: .5em;
}

section div {
    height: 100px;
    font-size: 120%;
    padding: 1em;
}


.forecast {
    text-align: center;
}

.forecast p, .forecast h2 {
    margin: 10px auto;
}

img {
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border-radius: 5px;
    background-color: rgba(84, 122, 192, 0.7);
    padding: 20px;
}

li {
    border-radius: 5px;
    padding: 1em;
    list-style-type: none;
    width: 19%;
    max-width: 220px;
    background-color: rgba(223, 223, 223, .8);
    border: 2px solid rgba(28, 28, 200, .7);
}