* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana,Tahoma, sans-serif;
    /*border: 1px solid green;*/
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section {
    width: 20vw;
    min-width: 300px;
    max-width: 400px;
    border: 2px solid rgba(28, 28, 200, .7);
    border-radius: 1em;
    margin: 0 auto;
    text-align: center;
    padding: 1em;
}

section, ul {
    box-shadow: 0px 0px 10px 10px rgba(70, 70, 70, .5);
}

.city, .temp {
    font-size: 30px;
    padding: .5em;
    font-weight: bold;
}

.forecast {
    text-align: center;
}

.description:first-letter {
    text-transform: capitalize;
}

img {
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border-radius: 5px;
    background-color: rgba(84, 122, 192, 0.7);
    padding: 20px;
}

li {
    border-radius: 5px;
    padding: 1em;
    list-style-type: none;
    width: 19%;
    max-width: 220px;
}

section, li {
    background-color: rgba(223, 223, 223, .95);
}